<div>
	<div class="col-sm-8 col-sm-offset-11">
		<a ng-click = "vm.logout()">Logout</a>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2">
				<ul class="nav nav-pills nav-justified">
				<!--  	<li role="presentation" ng-class="{active : vm.drugoSelected}"><a ng-click="vm.showDrugo()">Drugo</a></li>	-->				
					<li role="presentation" ng-class="{active : vm.profileSelected}"><a ng-click="vm.showProfile()">Profile</a></li>
				</ul>

			</div>

		</div>
		
	</div>
	
</div>